<!DOCTYPE HTML>
%html(lang="en")
  %head
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
    = extra_asset_links
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    %meta{:name => "generator", :content => 'nanoc ' + Nanoc::VERSION}

    %title
      = @item[:title]
      [Gaussian Oscillators]

  %body

    #title
      = link_to_unless_current 'Gaussian Oscillators', '/', :title => 'Main page'
      #nav
        %ul
          %li
            = link_to_unless_current 'Methods', '/methods/', :title => 'Visually comparing different methods of animation.'

    %hr

    #main
      = yield
